DB_LOCAL_HOST=localhost
DB_LOCAL_PORT=5432
DB_LOCAL_NAME=postgres
DB_LOCAL_USER=postgres
DB_LOCAL_PASSWORD=password

DB_DOCKER_HOST=0.0.0.0
DB_DOCKER_PORT=15433
DB_DOCKER_NAME=db1
DB_DOCKER_USER=postgres
DB_DOCKER_PASSWORD=password 